*{
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.analog-clock{
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 200px;
}

#analog-clock-face{
    fill: white;
    stroke: black;
    stroke-width: 2px;
}
#h-hand,#m-hand,#s-hand{
    stroke: black;
    stroke-linecap: round;
}
#h-hand{
    stroke-width: 3px;
}
#m-hand{
    stroke-width: 2px;
}
#s-hand,#s-tail{
    stroke-width: 1px;
    stroke: brown;
}
.analog-clock-text {
    text-align: center;
}